  .dashboard {
    width: 280px;
    height: calc(100vh - 57px);
    position: fixed;  
    
  }
  .dashboard-link{
      margin-bottom: 3px;
  }
  .dashboard-link:hover{
      background-color: #434343;
      cursor: pointer;
  }

  @media (max-width: 575px) {
      .dashboard{
          width: 70px;
      }
      
  }